@import "tailwindcss";

.important {
  @apply text-[var(--aqua)] underline decoration-solid decoration-gray-600;
}

@theme {
  --animate-ripple: ripple 1s linear infinite;

  @keyframes ripple {
    0% {
      outline: 0.2em solid rgba(140, 225, 235, 0.5);
    }
    25% {
      outline: 0.3em solid rgba(140, 225, 235, 0.5);
    }
    60%,
    100% {
      outline: 0.4em solid rgba(140, 225, 235, 0);
    }
  }
}

.border-top-left {
  @apply before:content-[""] before:w-8 before:h-8 before:absolute before:border-t-3 before:border-l-3 before:border-gray-600 before:-left-2 before:-top-1
}

.border-bottom-right {
  @apply after:content-[""] after:w-8 after:h-8 after:absolute after:border-b-2 after:border-r-2 after:border-gray-600 after:-right-2 after:-bottom-1
}
