@import "tailwindcss";

:root {
  --aqua: #8ce1eb;
  --grey: #4b5563;
  --ice: #e3f8fa;
  --navy: #222a59;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.truncate-one-line {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.app-layout {
  @apply grid grid-cols-1 grid-rows-[auto_auto_6fr_auto_auto] h-[100dvh]
         lg:grid-cols-[25%_1fr_25%]
         lg:grid-rows-[14%_1fr_6%]
         lg:h-screen;
}
