@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua: #8ce1eb;
  --grey: #4b5563;
  --ice: #e3f8fa;
  --navy: #222a59;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.truncate-one-line {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.app-layout {
  @apply grid grid-rows-[auto_auto_6fr_auto_auto] h-[100dvh] gap-2 p-2
         sm:p-4
         lg:landscape:grid-cols-[auto_1fr_auto]
         xl:landscape:grid-cols-[10%_1fr_10%]
         xl:landscape:grid-rows-[auto_1fr_auto]
         2xl:landscape:grid-cols-[20%_1fr_20%];
}

.main-layout {
  @apply flex flex-col items-center min-h-0
         landscape:col-start-2
         landscape:row-start-2;
}

.nav-layout {
  @apply flex justify-between items-center gap-4
         md:justify-start
         landscape:gap-2
         landscape:col-start-1
         landscape:row-start-1
         landscape:row-span-3
         landscape:flex-col
         landscape:justify-between
         lg:landscape:gap-8;
}

.aside-layout {
  @apply col-start-1 row-start-4 flex justify-between items-center gap-4
         md:justify-end
         landscape:gap-2
         landscape:col-start-3
         landscape:row-start-1
         landscape:row-span-3
         landscape:flex-col
         landscape:justify-between
         lg:landscape:gap-8;
}

.header-layout {
  @apply flex flex-col justify-center items-center
         landscape:col-start-2
         landscape:row-start-1;
}

.footer-layout {
  @apply flex justify-center items-end col-start-1 row-start-5
         landscape:col-start-2
         landscape:row-start-3;
}

.not-found-layout {
  @apply grid grid-cols-4;
}

.home-layout {
  @apply flex-1 flex flex-col;
}

.about-layout {
  @apply flex flex-col gap-6
         lg:gap-10;
}

.about-section-layout {
  @apply grid grid-cols-2 gap-2 bg-[var(--grey)] p-4 rounded-md
         lg:p-6
         lg:grid-cols-3
         lg:gap-4;
}

.timeline-layout {
  @apply flex-1 flex flex-col w-full;
}

.timeline-item-layout {
  @apply grid grid-cols-1
         lg:landscape:grid-cols-[1fr_4%_auto_4%_1fr];
}

.content-mt {
  @apply mt-4
         md:mt-6
         lg:mt-10
         xl:mt-20;
}
