@import "tailwindcss";

:root {
  --aqua: #8ce1eb;
  --grey: #4b5563;
  --ice: #e3f8fa;
  --navy: #222a59;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.truncate-one-line {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.app-layout {
  @apply grid grid-cols-1 grid-rows-[auto_auto_6fr_auto_auto] h-[100dvh]
         landscape:grid-cols-[25%_1fr_25%]
         landscape:grid-rows-[14%_1fr_6%]
         landscape:h-screen
         lg:grid-cols-[25%_1fr_25%]
         lg:grid-rows-[14%_1fr_6%]
         lg:h-screen;
}

.main-layout {
  @apply flex flex-col items-center h-full min-h-0
         landscape:col-start-2
         landscape:row-start-2
         lg:col-start-2
         lg:row-start-2;
}

.nav-layout {
  @apply flex justify-between items-center m-2 gap-4
         md:justify-start
         landscape:gap-2
         landscape:col-start-1
         landscape:row-start-1
         landscape:row-span-3
         landscape:flex-col
         landscape:justify-between
         lg:m-4
         lg:col-start-1
         lg:row-start-1
         lg:row-span-3
         lg:flex-col;
}

.aside-layout {
  @apply col-start-1 row-start-4 flex justify-between items-center m-2 gap-4
         md:justify-end
         landscape:gap-2
         landscape:col-start-3
         landscape:row-start-1
         landscape:row-span-3
         landscape:flex-col
         landscape:justify-between
         lg:m-4
         lg:col-start-3
         lg:row-start-1
         lg:row-span-3
         lg:flex-col;
}

.header-layout {
  @apply flex justify-center items-center
         landscape:col-start-2
         landscape:row-start-1
         lg:col-start-2
         lg:row-start-1;
}

.footer-layout {
  @apply flex justify-center items-end col-start-1 row-start-5
         landscape:col-start-2
         landscape:row-start-3
         lg:col-start-2
         lg:row-start-3;
}

.home-layout {
  @apply p-2 flex-1 flex flex-col
}

.about-layout {
  @apply grid grid-cols-1 gap-6 p-2
         lg:gap-10
}

.about-section-layout {
  @apply grid grid-cols-3 gap-3;
}

.timeline-layout {
  @apply flex-1 flex flex-col w-full;
}

.timeline-item-layout {
  @apply grid grid-cols-1
         lg:grid-cols-[1fr_4%_auto_4%_1fr];
}

.content-mt {
  @apply mt-10
}
